

.wpcf7-form {
    padding: 80px 0;
}

.registration-form-submit-container p {
    position: relative;
}

.wpcf7-spinner {
    position: absolute;
}

.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required option:first-child {
   color: #a09f9f;
}

.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required option {

}

.wpcf7-form-control {
    width: 50%;
}
